<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnGwtZy6X7tPX_mjbJIlufNDBph2H7_dA</string>
	<key>GCM_SENDER_ID</key>
	<string>119111246639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sekolahdulu</string>
	<key>PROJECT_ID</key>
	<string>sekolahdulu-5936e</string>
	<key>STORAGE_BUCKET</key>
	<string>sekolahdulu-5936e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119111246639:ios:4cbaf36f00ae66997c77da</string>
	<key>DATABASE_URL</key>
	<string>https://sekolahdulu-5936e-default-rtdb.firebaseio.com</string>
</dict>
</plist>